.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(0, 0, 0);
}

h1 {
  margin: 40px 0;
  color: white;
}

.whole_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputfield {
  font-size: 16px;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 24px;
  background-color: #323131;
  border: 2px solid rgba(255, 255, 255, 0.58);
  color: white;
  font-weight: bolder;
  width: 30vw;
  margin-right: 10px;
  transition: border-color 0.6s ease;
  margin-bottom: 30px;
}

.inputfield:focus {
  border-color: slateblue; /* Ändere die Border-Farbe beim Fokussieren */
}

.deleteIcon {
  height: 20px;
}

#output {
  margin-right: 50vw;
}

.outputList {
  display: flex;
  align-items: center;
  background-color: rgb(79, 79, 79);
  padding: 17px;
  margin: 5px 0;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  width: 60vw;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.4s ease;
}

.outputList.removing {
  opacity: 0;
  transform: translateY(-20px);
}

.outputList label {
  margin-left: 10px; /* Füge diese Zeile hinzu */
}

.outputList.completed {
  background-color: rgb(107, 107, 107);
  text-decoration: line-through;
  color: #cfcece;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.checkmark {
  color: white;
  font-size: 16px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.trash {
  width: 30px;
}

.cross {
  color: white;
  font-size: 16px;
}

.completed label {
  text-decoration: line-through;
}
